/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2020, 05:39:49 PM
    Author     : Bryan
*/

.footer-container {
	width: 100%;
	background:#1abc9c ;
	color: #ecf0f1;
}

.footer-main {
	margin: 30px;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-columna {
	width: calc(100%/3);
	text-align: justify;
        text-align: center;
        display: inline-block;
}

.footer-main .footer-columna h3 {
	font-size: 25px;
	color: #2c3e50;
	margin-bottom: 20px;
}



