/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/03/2020, 07:49:06 PM
    Author     : Bryan
*/

.header {
    background-color: darkblue;
    background-image: url('.../images/banner.png');
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: white;
    margin: 4px;
    padding: 4px 16px 4px 16px;
}

.headerFecha{
    text-align: left;
}

.headerHora{
    text-align: left;
}
