
.body2 {
    background-image: url('../images/user.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
}

.formLogin {
    width: 480px;
}

.formLogin table {
    border-collapse: collapse;
}

.formLogin table th,
.formLogin table td {
    padding: 8px;
}

.formLogin .etiqueta {
    text-align: right;
}

.formLogin .campo {
}

.formLogin .controles {
    text-align: center;
}
